*{
    margin: 0;
    padding: 0;
}
 
/* Blocks that should appear alone sometimes */
.inactive{
    display: none;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.nav_header{
    height: fit-content;
    width:  100%;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}




.left_section_nav_header{
    border: 1px solid black;
    order: 2;
}
.img_left_section_nav_header{
    height: 60px;
    width: 60px;
}



.center_section_nav_header{
    order: 3;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_center_section_nav_header{
    display: flex;
    border: none;
    background-color: transparent;
}
.a_container_button{
    width: 100%;
    position: absolute;
    background-color: black;
    top: 66px;

}

.a_container_button div {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 20px 50px;
    line-height: 48px;
}
.a_button_center_section_nav_header{
    color: #4e9f3d;
    text-decoration: none;
}
.a_center_section_nav_header {
    font-weight: bolder;
    margin: 10px 10px;
    text-decoration: none;
    color: black;

}
.a_center_section_nav_header{
    display: none;
}

.rigth_section_nav_header{
    order: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_container_rigth_section_nav_header{
    margin-left: 8px;
    display: none;
}

@media (min-width: 600px) {
    header {
        font-size: 20px;
    }
    .left_section_nav_header{
        order: 1;
    }
    .center_section_nav_header{
        order: 2;
    }
    .button_center_section_nav_header{
        display: none;
    }
    .a_center_section_nav_header{
        display: flex;
        color: #4e9f3d;
    }
    .rigth_section_nav_header{
        order: 3;
    }
    .cart_container_rigth_section_nav_header{
        display: block;
    }

}
