@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
  margin: auto;
  font-family: "Oxygen", sans-serif;
}

/* ==================== BANNER SECTION ========================== */

#bannerSection {
  background-color: #0ff;
  padding: 5px;
}

#bannerDiv {
  padding: 10px;
  background-color: cornflowerblue;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.mainInfo h3 {
  text-align: center;
  text-decoration: underline;
  font-weight: 900;
  padding: 5px;
  font-size: 20px;
  margin: 5px;
}

.mainInfo h3 span {
  background: linear-gradient(white, greenyellow, white);
  padding: 5px 10px;
  border-radius: 10px;
}

.mainInfo h2 {
  text-align: center;
  font-size: 35px;
}

.storeButton {
  display: flex;
  padding: 15px;
  justify-content: center;
}

.storeButton button {
  margin: 10px;
  cursor: pointer;
  padding: 10px 25px;
  border: solid 1px #fff;
  border-radius: 10px;
  background-color: rgb(153, 226, 116);
  transition: 0.2s;
  font-weight: 900;
  font-size: 15px;
  box-shadow: 5px 5px rgb(44, 43, 43);
}

.storeButton button:hover {
  border: 1px solid black;
  background-color: #0ff;
  transform: rotate(-20deg);
}

.image {
  width: 33%;
}

.image img {
  width: 100%;
}

/* ===== MOBILE SCREEN ===== */

@media screen and (max-width: 400px) {
  #bannerSection {
    background-color: greenyellow;
    padding: 5px;
  }

  #bannerDiv {
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info {
    width: 75%;
  }

  .mainInfo h2 {
    font-size: 25px;
  }

  .mainInfo h3 {
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
  }

  .image {
    width: 66%;
  }

  .image img {
    width: 100%;
  }
}

/* ===== TABLET SCREEN ===== */

@media screen and (max-width: 800px) {

  #bannerSection {
    background-color: greenyellow;
    padding: 5px;
  }

  #bannerDiv {
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info {
    width: 75%;
  }

  .mainInfo h2 {
    font-size: 25px;
  }

  .mainInfo h3 {
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
  }

  .image {
    width: 66%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image img {
    width: 50%;
  }
}

/* ============================================================================================ */

/* ============================= INTRO SECTION ============================ */

.introDiv{
    display: flex;
}

.rudyIntroDiv{
    border: solid 1px red;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rudyText{
    border: 1px solid red;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rudyText h2{
    padding: 20px 0;
}

.rudyImage{
    width: 30%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.rudyImage img{
    width: 100%;
}

.jessieIntroDiv{
    border: solid 1px red;

}

.jessieImage img{
    width: 50%;
}
